.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    width: 40%;
    /* justify-content: space-between; */
}

.links .logo{
    font-size: 30px;
    font-weight: 600;
    margin-right: 30px;
}

.links .submenu{ 
    display: flex;
    width: 65%;
    justify-content: space-between;
    font-size: 15.5px;
}

.links .submenu .wiki{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.menu {
    display: flex;
    align-items: center;
    width: 20%;
    font-size: 15px;
    font-weight: 600;
    justify-content: space-between;
}