.head {
    font-size: 280px;
    margin-top: -50px;
    text-align: center;
}

.break {
    width: 100%;
    height: 5px;
    background-color: black;
    margin-top: -40px;
}

.donothing{
    display: flex;
    padding: 10px 10px;
    font-size: 14px;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.break_2 {
    width: 100%;
    height: 2px;
    background-color: rgb(38, 37, 37);
}